// Colors
$c-black: #212121;
$c-white: #f0f0f0;
$c-purple: #4c51bf;
$c-teal: #319795;

// Dimensions
$d-mini: 0.5rem;
$d-sm: 1rem;
$d-md: 2.5rem;
$d-lg: 5rem;

// Font Family
$ff-dft: "Quicksand", sans-serif;
$ff-primary: "Anton", sans-serif;
$ff-secondary: "Romanesco", cursive;
