// Heights

// Colors
$c-black: #212121;
$c-white: #f0f0f0;
$c-purple: #4c51bf;
$c-teal: #319795;

// Dimensions
$d-mini: 0.5rem;
$d-sm: 1rem;
$d-md: 2.5rem;
$d-lg: 5rem;

// Font Size
$f-sm: 0.8rem;
$f-md: 2rem;
$f-lg: 5rem;
