.spheres {

  height: 100vh;
  overflow: hidden;


  padding: 6rem 10vw 0 0;


  &__item {
    width: 100%;

    position: relative;
    margin-bottom: $d-sm;

    @extend %flex-center;
    justify-content: flex-end;

    opacity: 0;
    transform: translateX(-10%);
    pointer-events: none;

    &--email {
      @include transition(0.2s, 0s);
    }

    &--github {
      @include transition(0.2s, 0.1s);
    }

    &--phone {
      @include transition(0.2s, 0.2s);
    }
  }

  &__btnBox {
    width: 7rem;
    height: 7rem;

    @extend %flex-center;
    margin-left: $d-md;
  }

  &__line {
    width: 7rem;
    height: 7rem;

    position: absolute;

    border: 1px solid rgba($c-white, 0.5);
    border-radius: 100%;

    @include transition(0.5s, 0s);
  }

  &__btn {
    width: 7rem;
    height: 7rem;

    position: absolute;

    border: 1px solid $c-white;
    border-radius: 100%;

    @include transition(0.3s, 0s);

    &:hover {
      width: 8rem;
      height: 8rem;
    }
  }

  &__icon {
    font-size: 4rem;
    color: $c-white;
  }

  &__copied {
    color: $c-white;
    font-weight: bold;
    font-style: italic;

    opacity: 0;
    pointer-events: none;

    @include transition(0.2s, 0s);
  }
}

@include media(700px) {
  .spheres {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 0;
    columns: 2rem;
    justify-items: center;

    padding: 0 10vw;

    &__item {
      justify-content: center;
      margin-bottom: 0;
    }

    &__btnBox {
      margin-left: 0;
    }

    &__btnBox,
    &__btn,
    &__line {
      width: 10rem;
      height: 10rem;
    }

    &__btn:hover {
      width: 11rem;
      height: 11rem;
    }

    &__icon {
      font-size: 6rem;
    }

    &__copied {
      position: absolute;
      left: 50%;
      bottom: 1.5rem;

      font-size: 0.8rem;

      transform: translateX(-50%);
    }
  }
}

@include media(950px) {
  .spheres {

    &__btnBox,
    &__btn,
    &__line {
      width: 14rem;
      height: 14rem;
    }

    &__btn:hover {
      width: 15rem;
      height: 15rem;
    }

    &__icon {
      font-size: 8rem;
    }
  }
}

.sphere-clicked {
  width: 30rem;
  height: 30rem;
  opacity: 0;
  border-width: 5px;
}

.copied-msg {
  opacity: 1;
}

.hidden-input {
  position: absolute;
  left: -200vw;
}