@import "_background";
@import "_title";

body {
  font-family: $ff-dft;
  color: $c-white;
  background: #000000;
}

a {
  color: $c-white;
}

::selection {
  background-color: $c-teal;
  color: $c-purple;
}
