// Page Title
.title {
  position: absolute;
  bottom: 0;
  left: -2px;
  z-index: 10;

  pointer-events: none;
}
.title__primary {
  width: fit-content;

  font-family: $ff-primary;
  font-size: 4.6rem;
  letter-spacing: -1px;

  line-height: 0.8;
  text-transform: uppercase;
  color: $c-white;
  text-shadow: 0 1px 3px $c-purple;

  opacity: 0;
  transform: translateY(20px);
  @include transition(0.2s, 0s);
}

@include media(680px) {
  .title__primary {
    font-size: 10vw;
  }
}
