@import "./work";
@import "./info";

.gallery {
  width: 100%;
  position: absolute;
  top: 0;

  display: grid;
  justify-items: center;

  padding: 5.5rem 5vw 5.5rem 5vw;

  opacity: 0;
  @include transition(0.2s, 0s);
}
