@import "./work";
@import "./info";

.gallery {
  width: 100%;
  position: absolute;
  top: 0;

  display: grid;
  justify-items: center;
  row-gap: 1.5rem;

  padding: 5.5rem 5vw 5.5rem 5vw;
  pointer-events: none;
}

@include media(850px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
  }
}

@include media(1024px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
